.speech {
    font-family:  'Arial', Helvetica, sans-serif  ;
    font-size: 18px;
    color: black;
}
.direction {
    font-family: 'Courier New', Courier, monospace;
    font: size 18px;
    color: black;
    background-color: #f0f8ff;
}
.direction:hover{
    background-color: #faebd7;
    color: #16e215;
}
.OD {
    color: orange;
}
.PHI {
    color: pink;
}

table{ border: dashed 4px;
    overflow: auto;
    border-collapse: separate;
}
table.collapsing {
    border: solid 3px;
    border-collapse: collapse;
    outline: solid 2px white;
}
td,th{
    border: solid 1px;
    text-align: center;
}
tr{
    background-color: #f0f0ff(211,134,197);
}
tr:nth-child(even){
    background-color: #b9ebf2;
}

h6:hover{
    text-shadow: 4px 4px 8px brown;
    border: 2px dotted yellowgreen;
    padding: 5px;
    transition: all 0.3s ease;
}